body{
	margin: 0;
	color: #fff;
	background-image: url(div.jpg);
	height: 100%;
	width:100%;
	
}
#tble{
	opacity: 0.7;
	background-color: black;
	margin-top: -7%;
	color: #fff;
	outline: solid;
	outline-color: #fff;
	padding-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;
    border: 0;
    font-family: Tahoma;

}
#idz{

	height: 30px;
	width:270px;
	font-size: 15px;
}
#idiz{
	height: 25px;
	width:25px;
}

#btn{
	height: 40px;
	width:120px;
	background-color: green;
	color: #fff;
	font-weight: 20px;
	margin-top: 30px;
	margin-left: 38%;
    border: 0;
    font-family: Tahoma;
}
#btn1{
	height: 40px;
	width:120px;
	background-color: green;
	color: #fff;
	font-weight: 20px;
	margin-top: 30px;
	margin-left: 7%;
    border: 0;
    font-family: Tahoma;
}
#btn:hover{
	background-color: black;
	outline: solid;
	outline-color: #fff;
	opacity: 0.6;
}
#btn1:hover{
	background-color: black;
	outline: solid;
	outline-color: #fff;
	opacity: 0.6;
}
#tbl{
	opacity: 90%;
	background-color: black;
	opacity: 0.7;
	color: #fff;
	padding-top: 60px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 60px;
    border: 0;
    font-family: Tahoma;

}

#ca{
	margin-left: 35%;
	color: #fff;
}
#fp {
	margin-left: 10%;
    color: #fff;
}

#sub{
	margin-top: 30px;
	margin-left: 45%;
	height: 40px;
	width:120px;
	background-color: green;
	color: #fff;
	font-weight: 20px;
    border: 0;
    font-family: Tahoma;
}
a{
	text-decoration: none;
	color: green;
    font-style: italic;
    background-color: black;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 2px;
    opacity: 0.6;
}
a:hover{
	color: orange;
}


#div1{
	height: 666px;
	width: 50%;
	float: left;
}
#div2{
	height: 666px;
	width:50%;
	float: right;
	background-color: black;
	opacity: 0.9; 
}
#tables{

	padding-top: 60px;
	padding-left: 80px;
	padding-right: 100px;
	padding-bottom: 60px;
	margin-left: 14%;
	outline: solid;
	outline-color: green;
	margin-top: -8%;
	font-family: AR JULIAN;

}

#i{
	height: 30px;
	width:300px;
}
h2{
	font-family: ar julian;
}
#bt{
	margin-top: 5%;
	margin-left: 36%;
	height: 40px;
	width:200px;
	border: 0;
    font-family: Tahoma;
    background-color: green;
    color: #fff;
}
#bt:hover{
	background-color: orange;
	outline: solid;
	background-color: black;
	outline-color: #fff;
}
#tables:hover{
	outline-color: #fff;
}
#c{

	margin-left: 30%;
	text-decoration: none;
	color: green;
}
#f{
	text-decoration: none;color: green;
}
#foot{
	margin-left: 42%;
}